h1{
    color: #0195c5;
    
}


.header{
    background-color: beige;
    display: flex;
    justify-content: center; 
}

h2{
    color: rgb(46,36,45);
}

.footer{
    display: flex;
    justify-content: center;
}

body{
    background-color: darksalmon;
}